{% extends 'index.html' %}
<header>
    <!-- Navbar -->
    <!-- Navbar -->
    
    {% block content %}
    <div class="p-5 text-center bg-light">
        <form action=" {% url 'lotin' %} " method="POST">
            {% csrf_token %}
        <div class="form-outline">
            <textarea class="form-control" id="textAreaExample" rows="6" name="data"></textarea>
            <label class="form-label" for="textAreaExample">Matnni kiriting</label>
        </div><br>
        <input type="submit" class="btn btn-primary" value="Kirilchaga o'tkazish">
        <br><br>
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" disabled>{{ matn }}</textarea>
          </div>
        </form>
        
    </div>
    {% endblock content %}
        
    <!-- Jumbotron -->
    
    <!-- Jumbotron -->
  </header>